<div class="col-12 pt-2">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="matricula">matrícula</label>
            <input type="text" class="form-control" id="matricula" formControlName="matricula">
        </div>
        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" formControlName="nome">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" formControlName="email">
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
</div>

<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Titulo</th>
                <th scope="col">descrição</th>
                <th scope="col">Horario</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let post of posts">
                <td>{{ post.titulo }}</td>
                <td>{{ post.descricao }}</td>
                <td>{{ post.dataHora }}</td>
                <td>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        <app-modal-edit></app-modal-edit>
                    </button>
                    <button class="btn btn-danger" (click)="excluir(post.id)">Excluir</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
    