<div class="col-12 pt-2">
    <form class="col-12">
      <input type="text" name="nome" class="col-6 mr-3" [(ngModel)]="nome" id="nome" placeholder="Nome"/>
      <button type="submit" class="btn btn-outline-primary" (click)="adicionarNome()">Submeter o nome</button> 
    </form>

    <table class="table col-6 mt-3 ml-3">
        <thead>
          <tr>
            <th scope="col">nome</th>
          </tr>
        </thead>
        <tbody>
          <tr scope="row" *ngFor="let name of lista">
            <td appHighlight>{{name}}</td>
          </tr>
        </tbody>  
    </table>

</div>
    